body {
    margin: 0;
    background: #1B244A;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
 
    
}

.container__title {
   font-family: Verdana;
   color: #EEE;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
    margin-bottom: 8px;
}


.container__score{
    text-align: center;
    font-style: normal;
}

.score{
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-family: CursedTimerUlil;
    font-size: 90px;
    font-style: normal;
    color: #F94F6D;
    font-weight: 400;
    background-image: url(./Assets/home-score.png);
    border-radius: 9px;
}


button{
    
     color: #9AABD8;
    text-align: center;
    background: none;
    font-size: 18px;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    font-family: "CursedTimerUlil";
    line-height: 27.812px;
        
}

@font-face {
    font-family: "CursedTimerUlil";
    src: url(./Assets/CursedTimerUlil-Aznm.ttf) format('truetype') 
}